<div class="topPage">
  <div class="listWrapper">
    <% @lists.each do |list|%>
      <div class="list">
        <div class="list_header">
          <h2 class="list_header_title">
            <%=list.title%>
          </h2>
          <div class="list_header_action">
            <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_list_path(list)) %>
             <%= link_to (content_tag(:i, '', class: 'fas fa-trash')), "/list/#{list.id}", method: :delete, data: { confirm: "#{list.title}を削除して大丈夫ですか?" ,cancel: 'やめる',
              commit: '削除する',title:"#{list.title}"} %>
          </div>
        </div>
        <div class="cardWrapper" id=<%="wrap#{list.id}"%>>
          <% list.cards.each do |card| %>
            <div class="card">
              <div class="card_title">
                <div class="card_title_header">
                  <p><%="#{card.title}"%> </p>
                  <div class="card_title_header-hidden">
                    <%= link_to(content_tag(:i, '', class: 'fas fa-pen'),edit_list_card_path(list, card)) %>
                    <%= link_to (content_tag(:i, '', class: 'fas fa-trash')), "/list/#{list.id}/card/#{card.id}", method: :delete, data: { confirm: "#{card.title}を削除して大丈夫ですか?" ,cancel: 'やめる',
                      commit: '削除する',title:"#{card.title}"} %>
                  </div>
                </div>
                  <%if card.memo.present?%>
                  <div class="card_memo">
                    <div class="card_memo_title"><i class="fas fa-bars"></i> read more...</div>
                    <div class="card_memo-hidden">
                    <p>詳細：<%=card.memo%></p>
                    </div>
                  </div>
                  <% end %>
              </div>
            </div>
          <%end%>
        </div>
            <div class="add_card" data-list-id=<%="#{list.id}"%>>
            <i class="far fa-plus-square"></i>
            <button class="add_card_link">さらにカードを追加</button>
        </div>
      </div>
    <%end%>
  </div>
</div>


 <div id ="modal">
</div>
