<div class="cardeditPage">
    <%=form_with model: @card,url:{action: :update},class:"cardeditForm" do |f|%>
      <%if @card.errors.any?%>
        <p class="text-danger">タイトルは１〜２５５文字以内で入力してください</p>
      <%end%>
      <div class="cardeditForm_title">
        <%=f.label :title%>
        <%=f.text_field :title,class:"form-control",placeholder:"カード名"%>
      </div>
      <div class="cardeditForm_memo">
        <%=f.label :memo%>
        <%=f.text_area :memo,class:"form-control",size: "10x5",placeholder:"詳細"%>
      </div>
       <div class="cardeditForm_memo">
        <label>リスト名</label>
        <%= f.select :list_id, @lists.map{ |l| [l.title, l.id] },{}, { class: 'form-control' } %>
      </div>
      <div class="text-center"><%= f.submit "更新する",class:"submitBtn"%></div>
    <%end%>
  </div>